@charset "UTF-8";
/* CSS dokument */

.program1 {
    grid-area: p1;
    text-align: center;
}
.program2 {
    grid-area: p2;
    text-align: center;
}
.program3 {
    grid-area: p3;
    text-align: center;
}
.program4 {
    grid-area: p4;
    text-align: center;
}
.program_headline {
    grid-area: ph;
    margin-top: 40px;
    text-align: center;
}
.program-img {
    width: 86px;
    height: auto;
    margin-bottom: 10px;
}



.btnimage {
    width: 10%;
    height: auto;
    margin-top: 20px;
}
.kontakt_forside {
    position: relative;
    width: 55%;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translate(0, -50%);
    margin-bottom: -50%;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: var(--txt-white-color);
    background-color: var(--orange-color);
    border:none;
    font-size: var(--body-txt-size);
    cursor: pointer;
}
.kontakt_forside:hover {
    background-color: var(--orange-color-hover);
    transition: 0.2s;
    transform: scale(1.02) translate(0, -50%);
}
h1 {
    line-height: 100%;
}
#grid-home {
    display: grid;
    grid-template-areas:
        "item2"
        "item1"
        "ph"
        "p1"
        "p2"
        "p3"
        "p4";
    gap: 40px 40px;
}
.btn-cv {
    background-color: var(--orange-color);
    color: var(--txt-white-color);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 36px;
    cursor: pointer;
}
.btn-cv:hover {
    background-color: var(--orange-color-hover);
    transition: 0.2s;
    transform: scale(1.05);
}



footer {
    padding: 40px;
    background-color: var(--green-color);
    color: var(--txt-white-color);
}
.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.footer-container p {
    font-size: var(--body-txt-size);
    color: var(--txt-white-color);
}
.footer-container > * {
    flex: 1;
}
.footer-img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.footer-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-txt_center {
    display: flex;
}
.footer-margin {
    margin-bottom: 20px;
}




/* Tablet menu */
@media only screen and (min-width: 700px) {
    #grid-home {
        grid-template-areas:
            "item1 item1 item1 item2 item2 item2"
            "ph ph ph ph ph ph"
            ". p1 p2 p3 p4 .";
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, auto);
    }
    .txtbox_line_left, .program-img {
        margin: 40px 0;
    }
}