@charset "UTF-8";
/* CSS dokument */

.menu li:nth-child(1) {
    background-color: var(--orange-color);
}

#btnimage {
    width: 10%;
    height: auto;
    margin-top: 20px;
}
.kontakt_forside {
    position: relative;
    width: 55%;
    aspect-ratio: 1/1;
    top: 50%;
    transform: translate(0, -50%);
    margin-bottom: -50%;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: var(--txt-white-color);
    background-color: var(--orange-color);
    border:none;
    font-size: var(--body-txt-size);
    cursor: pointer;
}
.kontakt_forside:hover {
    background-color: var(--orange-color-hover);
    transition: 0.2s;
    transform: scale(1.02) translate(0, -50%);
}
#grid-home {
    display: grid;
    grid-template-areas:
        "item2"
        "item1"
        "ph"
        "p1"
        "p2"
        "p3"
        "p4";
    gap: 40px 40px;
}
.item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Tablet menu */
@media only screen and (min-width: 700px) {
    #grid-home {
        grid-template-areas:
            "item1 item1 item1 item2 item2 item2"
            "ph ph ph ph ph ph"
            ". p1 p2 p3 p4 .";
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, auto);
    }
    .btn-secondary {
        margin-top: var(--margin-afsnit);
    }
}

/* Desktop menu */
@media only screen and (min-width: 960px) {
    .kontakt_forside {
        font-size: var(--menu-txt-size);
    }
}